@import url(https://fonts.googleapis.com/css?family=Roboto:300);
:root {
    --color--background: #C6C5B9;
    --color-txt-black: #000000;
    --color-txt-white: #FDFDFF;
    --color-txt-white2: #F2F2F2;
    --color-txt-aero-blue: #393D3F;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: var(--color-txt-white);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: var(--color-txt-white2);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--color-txt-aero-blue);
    width: 100%;
    height:50px;
    border: 0;
    padding: 15px;
    color: var(--color-txt-white);
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}
.form .message {
    margin: 15px 0 0;
    color: var(--color-txt-black);
    font-size: 12px;
}
.form .message a {
    color: var(--color-txt-black);
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

body {
    background: var(--color--background);
    font-family: "Roboto", sans-serif;
}